{{ define "main" }}
<content>
  {{ .Content }}
  <h2 id="my-most-recent-posts">My most recent posts</h2>
  <ul class="blog-posts">
    {{ range first 4 (where .Site.RegularPages "Section" "blog") }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
  <small>
    <a href="{{ "blog" | relURL }}">See all posts</a>
  </small>
</content>
{{ end }}